{% extends "base.html.twig" %}

{% block addlist %}
    {{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form) }}
    </div>
    <button type="submit" class="btn btn-primary">Add Todo!</button>
    {{ form_end(form) }}
{% endblock %}

