{% extends "KamilGSiteBundle:Default:layout.html.twig" %}

{% block addlist %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Update Todo! </button>
    {{ form_end(form) }}
{% endblock %}

