{% extends "KamilGSiteBundle:Default:layout.html.twig" %}

{% block showlist %}
{% for lists in lists %}
<div class='form-group group-width'>{{ lists.createdBy|date('Y-m-d') }}
  <textarea class='form-control textarea' rows='3' name='tresc' readonly>{{ lists.description }}</textarea>
  <div class='buttons'><a href='#'>
      <a href="/delete/{{ lists.id}}"><button type='submit' class='btn btn-warning'>usuń zadanie</button></a></div>
    </div>

{% endfor %}
{% endblock %}