body {
	background-image: url('./img/logo.jpg');
	background-size: cover;
}
.textarea {
	overflow:auto;
	resize:none;
}
.title {
	padding: 25px;
}
.group-width {
	width: 80%;
  margin-top: 20px;
}
.buttons {
	margin-top: -10%;
	margin-left: 104%;
}
.panels {
	margin-top:30px;
}
.panel-footer {
	text-align: right;
	font-size: 12px;
}
.alert-success, .alert-warning, .alert-danger {
	margin-top: 20px;
}
.data {
	text-align: right;
}
.col-md-10 {
  margin-left: -14px;
}
.piorytet {
  margin-left: -8px;
  margin-right: 8px;
}
.pio {
  text-align: left;
  margin-top: -24px;
  margin-bottom: 10px;
}
.pio_span {
  color: white;
  background-color: green;
  padding: 2px 6px 2px 6px;
  border-style: outset;
  border-width: 2px 2px 2px 2px;
}

@media screen and (max-width: 1200px) {
   .col-md-10 {
   	margin-left: -15px;
   }
   .group-width {
   	width: 76.333333%;
   }
   .btn-warning {
   	margin-top: -10px;
   }

   .btn-warning {
   	margin-top: -10px;
   }
   .btn-primary {
   	float: right;
    margin-right: -2px;	
    margin-top: -49px;
   }
   h3 {
   	padding-top: 33px;
    padding-bottom: 3px;
   }
   .alert-success, .alert-warning, .alert-danger {
    margin-top: 44px;
   }
   .alert-warning {
   	margin-bottom: 10px;
   }
   .piorytet {
    margin-left: -18px;
   }
}
@media screen and (max-width: 990px) {
  .col-md-10 {
    width: 80%;
    margin-left: -15px;
   }
	.btn-primary {
    float: right;
    margin-right: 15px;
    margin-top: -11px;
  }
   h3 {
   	padding-top: 5px;
   }
   .alert-success, .alert-warning, .alert-danger {
    margin-top: 18px;
    margin-bottom: -11px;
   }
   .alert-warning {
   	margin-bottom: 20px;
   }
   .piorytet {
    margin-right: 0px;
    margin-left: 0px;
   }
}
@media screen and (max-width: 777px) {
	.col-md-10 {
     width: 78%;
	}
	.btn-primary {
    float: right;
    margin-right: 15px;
    margin-top: -11px;
  }

}

@media screen and (max-width: 714px) {
	.col-md-10 {
     width: 78%;
	}
	.btn-primary {
    float: right;
    margin-right: 15px;
    margin-top: -11px;
  }
  .btn-warning {
    margin-top: -22px;
  }
}
@media screen and (max-width: 629px) {
	.col-md-10 {
     width: 78%;
	}
	.btn-primary {
    float: right;
    margin-right: 15px;
    margin-top: -11px;
  }
	.panel-footer {
		text-align: center;
	}
}

@media screen and (max-width: 583px) {
	.col-md-10 {
    width: 106%;
    margin-left: -10px;
	}
	.btn-primary {
    float: right;
    margin-right: 14px;
    margin-top: -5px;
    width: 94%;
  }
   .group-width {
    width: 100%;
	}
	.btn-warning {
    margin-top: 58px;
    margin-left: 0px;
    width: 100%;
   }
   .buttons {
   	width: 100%;
   	margin-left: 0%;
   }
   h3 {
   	padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
   }
   .alert-success, .alert-warning, .alert-danger {
    margin-top: 56px;
    margin-bottom: -45px;
    margin-top: 56px;
    margin-bottom: 4px;
   }
   .alert-warning {
   	margin-bottom: 10px;
    margin-top: 56px;
    margin-bottom: 4px;
   }
   .pio_span {
    padding: 0px 1px 0px 2px;
    font-size: 13px;
  }
  .pio {
    margin-top: -20px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 471px) {
	.col-md-10 {
    width: 110%;
    margin-left: -12px;
	}
	.btn-primary {
    float: right;
    margin-right: 14px;
    margin-top: -5px;
    width: 92%;
  }
   .group-width {
    width: 100%;
	}
	.btn-warning {
    margin-top: 58px;
    margin-left: 0px;
    width: 100%;
   }
   .buttons {
   	width: 100%;
   	margin-left: 0%;
   }
   h3 {
   	padding-top: 50px;
    text-align: center;
    padding-bottom: 20px;
   }
   .alert-success, .alert-warning, .alert-danger {
    font-size: 13px;
    margin-top: 56px;
    margin-bottom: 4px;
   }
}

@media screen and (max-width: 388px) {
   .col-md-10 {
    width: 112%;
    margin-left: -13px;
	}
   .btn-warning {
    margin-top: 47px;
    margin-left: 0px;
    width: 100%;
   }
   .data {
    font-size: 11px;
   }
   .buttons {
   	width: 100%;
   	margin-left: 0%;
   }
   .btn-primary {
    width: 89%;
  }
    .alert-success, .alert-warning, .alert-danger {
    font-size: 12px;
    margin-top: 56px;
    margin-bottom: 4px;
   }
   .pio_span {
    padding: 0px 1px 0px 2px;
    font-size: 11px;
  }
  .pio {
    margin-top: -21px;
    margin-left: -10px;
  }
}

@media screen and (max-width: 330px) {
   .col-md-10 {
    width: 116%;
    margin-left: -14px;
	}
   .data {
   	text-align: center;
   	font-size: 11px;
   }
   h3 {
   	font-size: 16px;
   }
   .btn-warning {
    margin-top: 27px;
    margin-left: 0px;
    width: 100%;
   }
   .buttons {
   	width: 100%;
   	margin-left: 0%;
   }
   .alert-success, .alert-warning, .alert-danger {
    font-size: 11px;
    margin-top: 56px;
    margin-bottom: 4px;
   }
   .btn-primary {
    width: 85%;
  }

}
@media screen and (max-width: 313px) {
	.panel-heading {
		font-size: 12px;
	}
}

