body {
	background-image: url('./img/logo.jpg');
	background-size: cover;
}
.textarea {
	overflow:auto;
	resize:none;
}
.title {
	padding: 25px;
}
.group-width {
	width: 80%;
  margin-top: 20px;
    margin-bottom: 50px;
}
.buttons {
	margin-top: -10%;
	margin-left: 104%;
}
.panels {
	margin-top:30px;
}
.panel-footer {
	text-align: right;
	font-size: 12px;
}
.alert-success, .alert-warning, .alert-danger {
	margin-top: 20px;
}
.col-md-10 {
  margin-left: -14px;
}
textarea.form-control {
	margin-bottom: 10px;
}
.datetime {
	margin: 0px 10px 10px 10px;
}
